*{
  padding: 0;
  margin: 0;
}
body {
  font-family: "Loilo", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #A8CD9F;
}

.wrapper-main{
  margin: 0 auto;
}

.navbar{
  justify-content: center;
  text-align: center;
  /* background: linear-gradient(to right, #000000 , #bfbebe , #595959); */
  background-color:#A8CD9F;
  color: rgb(245, 90, 0);
  margin: 0 auto;
  padding: 10px;
}

.header-nav{
  margin: 0 auto;
  height: 400px;
}

.header-bg {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent), linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent), url("./1.jpeg");
  background-repeat: no-repeat;
  position: absolute;
  height: 400px;
  z-index: -1;
  width: 100%;
  background-position: center;
  background-size: cover;
  /* filter: blur(6px); */
}


.header-content{
  color: aliceblue;
  font-size: larger;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-element {
  padding: 4rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  /* background-color: rgb(0, 0, 0); */
  max-width: 1200px;
  color: #000f27;
}

.content{
  width: 50%;
}

.content h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-dark);
}

.content h1 span {
  font-weight: 400;
}

.content p {
  margin-bottom: 2rem;
  color: var(--text-light);
  line-height: 1.75rem;
  font-size: larger;
  font-weight: 700;
  text-align: justify;
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: #292417;
  font-size: large;
  background-color: #ffa33a;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}



.btn:hover {
  background-color: #da8702;
}

.image {
  position: relative;
  text-align: center;
  isolation: isolate;
  border-radius: 8px;
  padding: 20px;
}


.image img {
  width: 100%;
  max-width: 475px;
  border-radius: 8%;
}

.header-content h1{
  margin: 10px;
}

.container-1{
  background-color: #798675;
  margin: 0 auto;
  padding: 20px 0;
}

.container-1-child{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.choose-right{
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  gap: 20px;
 flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 280px;
  margin: 20px;
  background-color: rgb(189, 223, 245);
  color: #000829;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1); /* Adjust the shadow as needed */
  transition: all ease 1s;
}

.card:hover {
  transform: scale(1.08); /* Scale up by 5% on hover */
  background-color: rgb(162, 237, 245);
}


.card-top{
  color: #ff4800;
  font-size: 56px;
  text-align: center;
  padding: 10px;
}

.card-bottom{
  padding: 10px 12px;
  text-align: center;
}

.card-bottom p{
  text-align: center;
  margin-top: 18px;
  font-weight: bold;
  font-size: large;
  color: rgb(2, 0, 12);
}

.customer{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.customer-bg{
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent), linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent), url("./2.jpeg");
  background-repeat: no-repeat;
  position: absolute;
  height: 200px;
  z-index: -1;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.customer-card{
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
}

.customer-card i{
  color: #ff4800;
  font-size: 48px;
}

.customer-card h2{
  font-size: 42px;
  margin: 15px;
}

.service-container{
  margin-top: 60px;
  text-align: center;
  margin: 0px auto;
  padding: 50px 0;
}

.services{
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.service-content{
  display: flex;
  background-color: #e0e9dd;
  border-radius: 8px;
  border: 3px solid #08151f;
  box-shadow: 10px 9px 6px 3px rgba(0, 0, 0, 0.5);
  margin: 20px;
  width: 307px;
  height:70px;
  justify-content:space-around;
  align-items: center;
  padding: 10px;
  transition: all ease 1s;
}

.service-image{
  margin-right: 10px;
}

.service-text p{
  font-size: larger;
  font-weight: 700;
  color: #000f27;
}

.service-content:hover{
  transform: scale(1.08);
  background-color: #da8702;
  color: #fff;
}

.members{
  text-align: center;
  margin: 60px auto;
}


.wrapper {
  padding: 30px 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.employeecard {
  width: 200px;
  height: 280px;
  margin: 20px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.7s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.employeecard:hover {
  transform: translateY(20px);
}

.employeecard:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.employeecard:hover:before {
  opacity: 1;
}

.employeecard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.employeecard .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.employeecard:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.employeecard .info h1 {
  margin: 0px;
}

.employeecard .info p {
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 8px;
}

.employeecard .info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}

.employeecard .info button:hover {
  background: dodgerblue;
  color: white;
}

.maps{
  width: 50%;
}

.maps iframe{
  width: 100%;
  height: 400px;
}

.find-us{
  display: flex;
}

.find-us-content{
  max-width: 50%;
  padding: 40px;
  background-color: #C6EBC5;
}

.find-us-content p{
  margin: 20px 0;
  letter-spacing: 0.01rem;
  font-size: larger;
  font-weight: 700;
  color: #000829;
}

.contacts{
  display: flex;
  margin: 12px 0;
  font-weight: 600;
  font-size: medium;
  color: #441300;
}

.contact-logo{
  margin-right: 15px;
}

.contact-text p{
  margin: 0;
}

.popup-link{
  padding: 30px 0;
  text-align: center;
}

.popup-link a{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #422300;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.popup-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Apply blur effect */
  z-index: 1; /* Ensure the background is behind the popup */
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%; /* Set width to 70% */
  height: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2; /* Ensure the popup is above the background */
}

.popup-content {
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}
